body {
  font-family: Arial, Helvetica, sans-serif;
  background-color:white;
}


.header {
  padding: 50px;
  text-align: center;
  background: darksalmon;
  font-size: 60px;
  font-family: fantasy;
}

.nav 
{
  background-color: silver;
  height: 30px;
  display: flex;
  justify-content:space-around;
  font-family: fantasy;
  border-top: 2px ridge black;
  border-bottom: 2px dotted black;
}

.nav a 
{
  color: white; 
  flex-direction: row;
  padding: 14px 20px; 
  text-decoration: none; 
  padding-top: 5px;
  
}

.nav a:hover {
  color:coral;
  transition: 0.5s;
}

.content
{
  text-align: center;
  font-size: 30px;
  line-height: 40px;
}

.content img{
  border-radius: 15%;
}

#hours
{
  font-size: 20px;
  border-bottom: 1px dotted;
}
.table
{
  text-align: center;
  margin: 30px;
  font-size: 30px;
}

.table a
{
  text-decoration: none;
}

.table a:hover 
{
  color:cadetblue;
  transition: 0.5s;
}

.imgContent {

display: flex;
justify-content: space-evenly;
flex-direction: row;
height: 150px;
}

.imgContent img 
{
border-radius: 30%;
}

.cookieForm button:hover
{
  color:aquamarine;
  transition: 1s;

}

.footer 
{
  border-top: 2px solid black;
  padding: 10px;
  text-align: center;
  background: darksalmon;
}

.footer p{
font-size: 15px;
}

 body{
background-color:salmon;
font-family: "Helvetica", sans-serif;
margin:auto;
}


table * {
  
  background-color: #f8f8f8;
  border: 1px double #020005;
  padding: 8px;
}

th {
  font-weight:90;
}

td {
  text-align: center;
}

 
